{% extends 'base/base_common.html' %}
{% load static %}
{% block title  %}Личный кабинет {{user.username}}{% endblock %}
{% block addCSS %}<link rel="stylesheet" href="{% static 'base/base_common/css/styleAccount.css' %}">
{% endblock %}

{% block keywords %}Личный кабинет{% endblock %}
{% block description %}Личный кабинет - {{user.username}}{% endblock %}



{% block content_website %}
<h1 class="main-h1">Личный кабинет</h1>
<div class="account">
    <a href="{% url 'auth:logout' %}" class="logout">Выйти</a>
</div>

{% endblock %}

{% block addJS %}{% endblock %}
