{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Личный кабинет {{user.username}} | Редактирование {% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAccount.css' %}">
{% endblock %}

{% block keywords %}Личный кабинет, Редактирование{% endblock %}
{% block description %}Личный кабинет - {{user.username}} | Редактирование данных{% endblock %}

{% block content_website %}
<h1 class="main-h1">Личный кабинет</h1>
<div class="account">
    {% include 'include_account-nav.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="profile-table">
            <thead>
                <tr class="title">
                    <td colspan="4">Личные даннные - Редактирование</td>
                </tr>
            </thead>
            <tbody>
                <tr class="title-content">
                    <td class="">Логин</td>
                    <td class="">Имя</td>
                    <td class="">Фамилия</td>
                    <td class="">Почта</td>
                </tr>
                <tr>
                    <td class="">
                        <input type="text" value="{{user.username}}" readonly>
                    </td>
                    <td class="">
                        {% if user.first_name %}
                        {{ user_form.first_name }}
                        {% else %}
                        <input type="text" value="Не заполенно" name="first_name">
                        {% endif %}
                    </td>
                    <td class="">
                        {% if user.last_name %}
                        {{ user_form.last_name }}
                        {% else %}
                        <input type="text" value="Не заполенно" name="last_name">
                        {% endif %}
                    </td>
                    <td class="">
                        {% if user.email %}
                        {{ user_form.email }}
                        {% else %}
                        <input type="text" value="Не заполенно" name="email">
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="profile-table">
            <thead>
                <tr class="title">
                    <td colspan="4">Адрес доставки - Редактирование</td>
                </tr>
            </thead>
            <tbody>
                <tr class="title-content">
                    <td class="">Город</td>
                    <td class="">Улица</td>
                    <td class="">Дом</td>
                    <td class="">Квартира</td>
                </tr>
                <tr>
                    <td class="">
                        {% if user.profile.city %}
                        {{profile_form.city}}
                        {% else %}
                        <input type="text" value="Не заполенно" name="city" required>
                        {% endif %}
                    </td>
                    <td class="">
                        {% if user.profile.street %}
                        {{profile_form.street}}
                        {% else %}
                        <input type="text" value="Не заполенно" name="street" required>
                        {% endif %}
                    </td>
                    <td class="">
                        {% if user.profile.number_house %}
                        {{profile_form.number_house}}
                        {% else %}
                        <input type="text" value="Не заполенно" name="number_house" required>
                        {% endif %}
                    </td>
                    <td class="">
                        {% if user.profile.number_room %}
                        {{profile_form.number_room}}
                        {% else %}
                        <input type="text" value="Не заполенно" name="number_room" required>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="accaunt-photo">
            Текущее фото:
            {% if user.profile.photo %}
            <div class="photo">
                <img id="img-preview" src="{{user.profile.photo.url}}" alt="Профиль">
            </div>
            {% else %}
            <div class="photo">
                <img src="{% static 'base/base_common/img/header-profile-icon/profile.svg' %}" alt="Профиль">
            </div>
            {% endif %}
            {{ profile_form.photo }}
        </div>
        <div class="submit-order">
            <input type="submit" value="Сохранить">
        </div>
    </form>


</div>


{% endblock %}

{% block addJS %}{% endblock %}
