{% extends 'base/base_common.html' %}
{% load static %}
{% block title  %}Регистрация {% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAuthorization.css' %}">{% endblock %}

{% block content_website %}
<h1 class="main-h1">Регестрация</h1>
<form action="" method="post" class="auth">
    {% csrf_token %}
    <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
</form>

{% endblock %}
{% block addJS %}{% endblock %}
