<!DOCTYPE html>
{% load static %}
{% block htmlLang %}<html lang="ru">{% endblock %}
<head>
    <title>RD | {% block title  %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'base/base_common/css/styleMain.css' %}">
    <link rel="stylesheet" href="{% static 'base/base_common/css/styleSlick.css' %}">
    <link rel="stylesheet" href="{% static 'base/base_common/css/styleDetail.css' %}">
    <link rel="stylesheet" href="{% static 'base/base_common/css/resize.css' %}">
    {% block addCSS %}{% endblock %}
    <meta name="keywords" content="{% block keywords %}Rearm Device{% endblock %}">
    <meta name="description" content="{% block description %}Rearm Device{% endblock %}">
    <!--Фавикон-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'base/base_common/img/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'base/base_common/img/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes=" 72x72 " href="{% static 'base/base_common/img/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'base/base_common/img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes=" 114x114 " href="{% static 'base/base_common/img/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'base/base_common/img/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'base/base_common/img/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes=" 152x152 " href="{% static 'base/base_common/img/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/base_common/img/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'base/base_common/img/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/base_common/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'base/base_common/img/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/base_common/img/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileImage" content="{% static 'base/base_common/img/favicon/ms-icon-144x144.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="manifest" href="{% static 'base/base_common/img/favicon/manifest.json' %}">
    <meta name="theme-color" content="#ffffff">
    <!--*-->
    <style>
        .preloader {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 10000;
        }

        .preloader-spin {
            width: 50%;
            height: 50%;
            position: absolute;
            left: 50%;
            top: 0%;
            margin: 0 0 0 -25%;
            z-index: 10001;
            background: url({% static 'base/base_common/img/preloader.gif' %}) 50% 50% / 30% no-repeat;
        }

    </style>
</head>
{% block body %}
<body>
    {% endblock %}
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header-container">
                    <a href="#" class="menu-active"><span></span></a>
                    <div class="header-info">
                        <div class="header-about">
                            <a href="{% url 'common:index' %}" class="header-link">Главная</a>
                            <a href="{% url 'catalog:categories_list' %}" class="header-link">Каталог</a>
                            <a href="{% url 'manufacture:list' %}" class="header-link">Партнёры</a>
                            <a href="#" class="header-link">Покупатели</a>
                            <a href="#" class="header-link">О нас</a>
                        </div>
                        <div class="header-contacts">
                            {% if user.username %}
                            <div href="#" class="header-icon bell" title="Уведомления">
                                <img src="{% static 'base/base_common/img/header-icon/bell.svg' %}" alt="Уведомления">
                                {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li {% if message.tags %} class="messages-item {{ message.tags }}" {% endif %}>{{ message }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            {% endif %}
                            <a href="#" class="header-icon" title="Телефон">
                                <img src="{% static 'base/base_common/img/header-icon/phone.svg' %}" alt="Телефон">
                            </a>
                        </div>
                    </div>
                    <div class="header-main">
                        <a href="{% url 'common:index' %}" class="logo">&nbsp;</a>
                        <form action="{% url 'search:result' %}" method="get" class="header-search">
                            <input class="header-search-input" type="search" id="search" name="search" placeholder="Искать здесь...">
                            <button type="submit" class="header-search-button"></button>
                        </form>
                        <div class="header-profile">
                            {% if user.username %}
                            <a class="header-profile-icon shopping not-mobil" title="Открыть корзину">
                                <img src="{% static 'base/base_common/img/header-profile-icon/basket.svg' %}" alt="Корзина">
                                <span class="counter">
                                    {% if product_total_quantity_nbr %}
                                    {{product_total_quantity_nbr}}
                                    {% else %}0{% endif %}
                                </span>
                            </a>
                            <div class="shopping-list">
                                <div class="container-total-price">
                                    <div class="total-price-title">Корзина</div>
                                </div>
                                <table class="shopping-list-container">
                                    {% for product_in_basket in products_in_basket %}
                                    <tr class="shopping-item">
                                        <td>{{product_in_basket.product.name}}</td>
                                        <td>{{product_in_basket.quantity_nbr}} шт.</td>
                                        <td>{{product_in_basket.total_price}}</td>
                                        <td class="shopping-list-delete" data-product_id="{{product_in_basket.id}}" title="Удалить товар"></td>
                                    </tr>
                                    {% empty %}
                                    <tr class="shopping-item">
                                        <td>Товаров нет</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                <div class="order">
                                    <a class="add-order" href="{% if user.username %}
                                    {% url 'order:order_add' %}
                                    {% else %}
                                    {% url 'admin:login' %}
                                    {% endif %}">Перейти к заказу</a>
                                </div>
                                <button class="close-basket" title="Закрыть корзину"></button>
                            </div>
                            <a href="
                            {% if user.username %}  
                                {% url 'account:account' %}
                            {% else %}
                                {% url 'authorization:login' %}
                            {% endif %}
                               " class="header-profile-icon profile {% if user.profile.photo%}profile-photo{% endif %}" title="Профиль">
                                {% if user.username %}
                                {% if user.profile.photo %}
                                <img src="{{user.profile.photo.url}}" alt="Профиль">
                                {% else %}
                                <img src="{% static 'base/base_common/img/header-profile-icon/profile.svg' %}" alt="Профиль">
                                {% endif %}
                                {% else %}
                                <img src="{% static 'base/base_common/img/header-profile-icon/profile.svg' %}" alt="Профиль">
                                {% endif %}
                            </a>
                            {% else %}
                            <a href="{% url 'authorization:login' %}" class="header-profile-icon profile" title="Авторизация">
                                <img src="{% static 'base/base_common/img/header-profile-icon/login.svg' %}" alt="Вход">
                            </a>
                            {% endif %}

                        </div>
                    </div>
                    {% if user.username %}
                    <div class="username">


                        {% if user.is_superuser %}
                        <a href="{% url 'admin:index' %}">{{user.username}}</a>
                        {% else %}
                        {{user.username}}
                        <div class="username_id">
                            {{user.id}}
                        </div>
                        {% endif %}

                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="alert">
                <div class="alert-container">
                    <div class="alert-title">Всплыващие окно</div>
                    <button class="alert-button">Понятно</button>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="main-container">
                    {% include 'catalog/categories_menu_include.html' %}
                    <div class="content">
                        <div class="preloader">
                            <div class="preloader-spin"></div>
                        </div>
                        {% block content_website %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer-container">
                    <div class="footer-title"><a href="{% url 'common:index' %}">RearmDevice</a></div>
                    <div class="footer-link spoilers mobil">
                        <div class="footer-block">
                            <div class="footer-block-title spoiler-active arrow">Магазин RD</div>
                            <div class="footer-block-content spoiler-content">
                                <ul class="footer-block-ul">
                                    <li><a href="{% url 'catalog:categories_list' %}">Каталог</a></li>
                                    <li><a href="{% url 'manufacture:list' %}">Партнёры</a></li>
                                    <li><a href="#">Новости</a></li>
                                    <li><a href="#">Обратная связь</a></li>
                                    <li><a href="#">Персональные данные</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-block">
                            <div class="footer-block-title spoiler-active arrow">Покупателям</div>
                            <div class="footer-block-content spoiler-content">
                                <ul class="footer-block-ul">
                                    <li><a href="#">Доставка</a></li>
                                    <li><a href="#">Сервисный центр</a></li>
                                    <li><a href="#">Проверка оплаты</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-block">
                            <div class="footer-block-title spoiler-active arrow">Помощь</div>
                            <div class="footer-block-content spoiler-content">
                                <ul class="footer-block-ul">
                                    <li><a href="#">Как оформить заказ</a></li>
                                    <li><a href="#">Способы оплаты</a></li>
                                    <li><a href="#">Обмен и возврат товара</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="footer-block">
                            <div class="footer-block-title spoiler-active arrow">Контакты</div>
                            <div class="footer-block-content spoiler-content">
                                <div class="social">
                                    <a href="#"><img src="{% static 'base/base_common/img/footer-icon/facebook.svg' %}" alt="fb"></a>
                                    <a href="#"><img src="{% static 'base/base_common/img/footer-icon/vk.svg' %}" alt="vk"></a>
                                    <a href="#"><img src="{% static 'base/base_common/img/footer-icon/mail.svg' %}" alt="mail"></a>
                                    <a href="#"><img src="{% static 'base/base_common/img/footer-icon/instagram.svg' %}" alt="inst"></a>
                                </div>
                                <ul class="footer-block-ul footer-feed-back">
                                    <li><a href="#">Телефон</a></li>
                                    <li><a href="#">Адрес Магазина</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'base/base_common/js/jquery.touchSwipe.min.js' %}"></script>
    <script>
        //прелоадер
        $(window).on('load', function() {
            var $preloader = $('.preloader'),
                $preloaderSpin = $('.preloader-spin');
            $preloaderSpin.fadeOut();
            $preloader.delay(50).fadeOut('slow');
        })

    </script>
    <script src="{% static 'base/base_common/js/slick.min.js' %}"></script>
    <script src="{% static 'base/base_common/js/scripts.js' %}"></script>
    {% block addJS %}{% endblock %}
</body>

</html>
