<form class="filter" method="post" action="{% url 'catalog:filter' %}">
    <input type="submit" value="Выполнить">
    <div class="filter-container">
        <label>
            <span>Сортировать</span>
            <select name="filter">
               {% if request.POST %}
                <option value="nameAZ">{{request.POST}}</option>
                <option value="nameAZ">Название A-Z</option>
                <option value="nameZA">Название Z-A</option>
                <option value="priceIncrement">Цена по возрасанию</option>
                <option value="priceDeincrement">Цена по убыванию</option>
                <option value="dataDeincrement">Цена по возрасанию</option>
                <option value="dataDeincrement">Цена по убыванию</option>
               {% else %}
                <option value="nameAZ">Название A-Z</option>
                <option value="nameZA">Название Z-A</option>
                <option value="priceIncrement">Цена по возрасанию</option>
                <option value="priceDeincrement">Цена по убыванию</option>
                <option value="dataDeincrement">Дата по возрасанию</option>
                <option value="dataDeincrement">Дата по убыванию</option>
               {% endif %}
            </select>
        </label>

    </div>

    <div class="grid">
        <div class="grid-1"></div>
        <div class="grid-2"></div>
    </div>
    {% csrf_token %}
</form>
