{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}
    Смена пароля
{% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAccount.css' %}">
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAuthorization.css' %}">
{% endblock %}

{% block keywords %}Смена_пароля{% endblock %}
{% block description %}Смена пароля{% endblock %}


{% block content_website %}
<h1 class="main-h1">Смена пароля</h1>
<div class="account">
    {% include 'base/include_account-nav.html' %}
    <form action="{% url 'authorization:change_password' %}" method="post" class="auth">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>


{% endblock %}

{% block addJS %}{% endblock %}