{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}
    Смена пароля
{% endblock %}

{% block addCSS %}

{% endblock %}

{% block keywords %}Смена_пароля{% endblock %}
{% block description %}Смена пароля{% endblock %}

{% block content_website %}

    <h1 class="main-h1">Сменить пароль</h1>
    <form action="{% url 'authorization:change_password' %}" method="post" class="auth">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
        <a href="{% url 'authorization:registration' %}">Регистрация</a>
    </form>


{% endblock %}

{% block addJS %}{% endblock %}