{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}
    Вход
{% endblock %}

{% block addCSS %}
    <link rel="stylesheet" href="{% static 'base/base_common/css/styleAuthorization.css' %}">
{% endblock %}

{% block keywords %}Авторизация{% endblock %}
{% block description %}Вход в аккаунт RD{% endblock %} 
   
{% block content_website %}

    <h1 class="main-h1">Вход</h1>
    <form action="{% url 'authorization:login' %}" method="post" class="auth">
        {% csrf_token %}
        <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
        {{ form.as_p }}
        <button type="submit">Вход</button>
        <a href="{% url 'authorization:registration' %}">Регистрация</a>
        <a href="{% url 'authorization:change_password' %}">Забыли пароль</a>
    </form>


{% endblock %}

{% block addJS %}{% endblock %}
