{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Личный кабинет {{user.username}} | Корзина{% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAccount.css' %}">
{% endblock %}

{% block keywords %}Личный кабинет, Корзина{% endblock %}
{% block description %}Личный кабинет - {{user.username}} | Корзина {% endblock %}
 
{% block content_website %}
<h1 class="main-h1">Личный кабинет</h1>
<div class="basket">
    {% include 'account/include_account-nav.html' %}
    <form method="post" action="{% url 'basket:order_add' %}">
        {% if product_in_basket %}
        <div class="submit-order">
            <input type="submit" value="Заказать">
        </div>
        {% endif %}
        {% csrf_token %}
        <input type="hidden" value="{{user.username}}" name="{{form.client_username.html_name}}">
        <div class="scroll-table">
            <table class="profile-table {% if not product_in_basket %}none{% endif %}">
                <thead>
                    <tr class="title">
                        <td colspan="5">Корзина</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="title-content">
                        <td class="img">Изображение</td>
                        <td class="name">Название</td>
                        <td class="price">Цена</td>
                        <td class="quantity">Количество</td>
                        <td class="full-price">Полная стоимость</td>

                    </tr>
                    {% if product_in_basket %}
                    {% for product_in_basket in products_in_basket %}
                    <tr class="content-basket">
                        <td class="img">
                            {% for prodimg in product_in_basket.product.prodimg.all %}
                            {% if forloop.counter == 1 %}
                            <img src="{{ prodimg.img.url }}" alt="{{ product.name }}">
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="name">{{product_in_basket.product.name}}</td>
                        <td class="price">{{product_in_basket.price_per_item}}</td>
                        <td class="quantity">
                            <input class="input-number" type="number" value="{{product_in_basket.quantity_nbr}}" name="product_in_basket_{{product_in_basket.id}}" min="1" max="{{product_in_basket.product.warehouse}}">
                        </td>
                        <td class="full-price summary">{{product_in_basket.total_price}}</td>
                        <td class="shopping-list-delete" data-product_id="{{product_in_basket.id}}" title="Удалить товар"></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6">Товаров нет</td>
                    </tr>
                    {% endif %}
                </tbody>
                <tfoot>
                    <tr class="title-content">
                        <td>Итого</td>
                        <td class="total-price" colspan="1">
                            <input type="text" readonly value="{{product_in_basket.total_price}}" name="total_price">
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {% if product_in_basket %}
        {% endif %}
    </form>
</div>
<!--
<button class="input-number-button down-value"> - </button>
<input class="input-number" type="number" value="{{product_in_basket.quantity_nbr}}" name="product_in_basket_{{product_in_basket.id}}" min="1" max="{{product_in_basket.product.warehouse}}">
<button class="input-number-button up-value"> + </button>
-->
{% endblock %}
 
{% block addJS %}
<script>
    $(document).ready(function() {
        function calculateBasketAmount() {
            var summ_order = 0;
            $('.summary').each(function() {
                summ_order += parseFloat($(this).text());
            })
            $('.total-price input').val(summ_order.toFixed(2));
        };
        $(document).on('change', ".input-number", function() {
            var current_quantity = $(this).val();
            var current_tr = $(this).closest('tr');
            var current_price = parseFloat(current_tr.find('.price').text()).toFixed(2);
            var total_price = parseFloat(current_quantity * current_price).toFixed(2);
            current_tr.find('.summary').text(total_price);
            calculateBasketAmount();
        })
        calculateBasketAmount();
        
        $('.shopping-list-delete').click(function () {
            calculateBasketAmount();
        })
        
    });

</script>
{% endblock %}
