{% extends 'base/base_common.html' %}

{% block title  %}
    RD | {{ category.name }}
{% endblock %}

{% block content %}
    <h1 class="main-h1">{{ category.name }}</h1>
    <div class="main-product">
        {# Вывожу все товары текущей категории #}
        {% for product in category.product_set.all %}
        <article class="product-block">
            <div class="product-title">
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            </div>
            <div class="product-img">
                <a href="{{ product.get_absolute_url }}">
                    {# Вывожу 1-ую картинку текуще5го товара #}
                    {% for prodimg in product.prodimg.all %}
                        {% if prodimg.id == 1 %}
                            <img src="{{ prodimg.img.url }}" alt="продукт">
                        {% endif %}
                    {% endfor %}
                </a>
            </div>
        </article>
        {% endfor %}
    </div>
{% endblock %}
