{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}
    RD | {{ product.name }}
{% endblock %}
{% block content %}
<div class="main-detail">
    <h1 class="main-h1">{{ product.name }}</h1>
    <div class="detail-short">
        <div class="sliders">
            <div class="slider-min">
                {% for prodimg in product.prodimg.all %}
                <div class="slider__item">
                    <img data-lazy="{{ prodimg.img.url }}" alt="1">
                </div>
                {% endfor %}
            </div>
            <div class="sub-slider-min">
                {% for prodimg in product.prodimg.all %}
                <div class="slider__item">
                    <img src="{{ prodimg.img.url }}" alt="1">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="detail-servis">
            <div class="detail-block">
                <form action="#" method="post" id="buyProduct" class="detail-add">
                   {% csrf_token %}
                    <div class="detail-price-buttons">
                        <div class="detail-price">12000</div>
                        <button type="submit" class="detail-add-basket" id="addBasket"
                         data-product-id="{{ product.id }}"
                        data-product-title="{{ product.name }}" 
                        data-product-price="{{ product.price }}">В корзину</button>
                    </div>
                    <div class="detail-block-servis">Сколько купить?:
                        <div class="detail-quantity">
                            <input type="number" maxlength="3" value="1" name="quantity_nbr" id="quantity_nbr">
                        </div>
                    </div>
                    <div class="detail-block-servis storage">Наличие на складе:
                        <div class="detail-sub-block">{{product.warehouse}}</div>
                    </div>
                    <div class="detail-block-servis delivery">Доставка в течение:
                        <div class="detail-sub-block">2</div>
                    </div>
                    <div class="detail-block-servis warranty">Гарантия:
                        <div class="detail-sub-block">{{product.warranty}}</div>
                    </div>
                </form>
                <div class="detail-manufacturers">
                    <img src="{{product.manufacture.img.url}}" alt="{{product.manufacture.name}}">
                    <div class="manufacturers-block">{{product.manufacture.name}}</div>
                    <div class="manufacturers-block">{{product.manufacture.country}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-info">
        <div class="detail-li">
            <div class="detail-li-title arrow">Описание</div>
            <div class="detail-li-content">{{product.description}}</div>
        </div>
        <div class="detail-li">
            <div class="detail-li-title arrow">Характеристики</div>
            <div class="detail-li-content">{{product.specifications}}</div>
        </div>
        <div class="detail-li">
            <div class="detail-li-title arrow">Комплект поставки</div>
            <div class="detail-li-content">{{product.set}}</div>
        </div>
        <div class="detail-li">
            <div class="detail-li-title arrow">Отзывы</div>
            <div class="detail-li-content">
                <div class="detail-comment">
                    <div class="detail-comment-block">
                        <div class="comment-autor">admin</div>
                        <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium enim nobis aspernatur consequatur corporis nihil quasi ea minima dolorem assumenda, molestiae mollitia, sit voluptas quae, cumque provident beatae ex itaque.</div>
                    </div>
                    <div class="detail-comment-block">
                        <div class="comment-autor">admin</div>
                        <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium enim nobis aspernatur consequatur corporis nihil quasi ea minima dolorem assumenda, molestiae mollitia, sit voluptas quae, cumque provident beatae ex itaque.</div>
                    </div>
                </div>
                <!--                                            <div class="commentNone">Комментариев нет! Станьте первыми </div>-->
                <div class="comment-edit">
                    <div class="comment-title">Оставить комментарий</div>
                    <form class="comment-form" action="#" method="POST">
                        <input type="text" required placeholder="Ваше имя" name="autorName">
                        <textarea name="commentText" required placeholder="Текс комментария" cols="30" rows="10"></textarea>
                        <button type="submit">Оставить комментарий</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="detail-li">
            <div class="detail-li-title arrow">Аналогичные товары</div>
            <div class="detail-li-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dolores quis voluptatibus ullam, nisi quibusdam at facilis, molestias ex hic commodi, distinctio minus blanditiis temporibus omnis reiciendis sed odio aliquid.</div>
        </div>
    </div>
</div>
{% endblock %}
