{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}О доставке {% endblock %}

{% block addCSS %}{% endblock %}

{% block keywords %}О доставке{% endblock %}
{% block description %}О доставке{% endblock %}

{% block content_website %}
<h1 class="main-h1">О доставке</h1>
<div class="text">
    <p class="text-item">
        <b>Общее</b><br>
        Доставка осуществляется ежедневно во временной интервал с 10:00ч до 22:00ч. <br>
        Предварительное оповещение о доставке осуществляется сотрудником доставочной организации в день оказания услуги за 1час до приезда на указанный адрес.
    </p>
    <p class="text-item">
        <b>Стоимость доставки</b><br>
        Стоимость доставки по г. Ростов-на-Дону составляет от 200 рублей в зависимости от веса и объёма товара,
        Доставка "день в день" возможна при условии оформления заказа до 15:00ч, стоимость составляет от 300 рублей.<br>
        Заказ весом до 12кг доставим за 1 час, стоимость доставки 400 рублей. <br>
        Подъём товара включен в стоимость доставки независимо от наличия/отсутствия лифта.<br>
        Стоимость доставки в населенные пункты за пределы города рассчитывается автоматически при оформлении заказа на сайте.
        Уточнить стоимость доставки в определенный населенный пункт Вы можете у сотрудника магазина или по телефону контактного центра 8-800-77-07-999 для связи с магазином.
    </p>
        <ul class="text-ul"><b>Способы оплаты товара</b><br>
        Оплата за товар и услугу доставки возможна следующими способами:
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Онлайн на сайте в момент оформления заказа;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Наличными или картой курьеру при получении;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            В магазине предварительно до дня доставки.
        </li>
        При оформлении заказа на юридическое лицо стоимость доставки включается в счет на оплату.
    </ul>
    <p class="text-item">
        <b>Доставка не осуществляется</b><br>
        На стройплощадки, вокзалы, в транспортные компании, садово-огородные товарищества, цеха, пункты общественного питания (за исключением их административных помещений), режимные, секретные и несуществующие объекты. В парки, лесные массивы, на пляжи или иные места, не имеющие определенного адреса, либо условий для передачи товаров и сопроводительной документации, получения оплаты, а также если проезд к месту передачи товара невозможен на расстояние более чем 100 метров.
    </p>
</div>
{% endblock %}

{% block addJS %}{% endblock %}
