{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}О доставке {% endblock %}

{% block addCSS %}{% endblock %}

{% block keywords %}О доставке{% endblock %}
{% block description %}О доставке{% endblock %}

{% block content_website %}
<h1 class="main-h1">О доставке</h1>
<div class="text">
    <p class="text-item">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dolore, omnis eos magnam, doloremque similique libero odit vero dignissimos inventore tenetur doloribus delectus voluptates modi expedita provident consectetur a quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem, ducimus rerum dignissimos pariatur, quasi est architecto, aspernatur veniam sint quia, sapiente beatae exercitationem blanditiis magnam dolores non eligendi saepe?
    </p>
    <p class="text-item">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dolore, omnis eos magnam, doloremque similique libero odit vero dignissimos inventore tenetur doloribus delectus voluptates modi expedita provident consectetur a quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem, ducimus rerum dignissimos pariatur, quasi est architecto, aspernatur veniam sint quia, sapiente beatae exercitationem blanditiis magnam dolores non eligendi saepe?
    </p>
    <ul class="text-ul">
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </li>
    </ul>
    <ul class="text-ul">
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </li>
    </ul>
    <p class="text-item">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis dolore, omnis eos magnam, doloremque similique libero odit vero dignissimos inventore tenetur doloribus delectus voluptates modi expedita provident consectetur a quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem, ducimus rerum dignissimos pariatur, quasi est architecto, aspernatur veniam sint quia, sapiente beatae exercitationem blanditiis magnam dolores non eligendi saepe?
    </p>
</div>
{% endblock %}

{% block addJS %}{% endblock %}
