{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Как оформить заказ{% endblock %}

{% block addCSS %}{% endblock %}

{% block keywords %}Как оформить заказ{% endblock %}
{% block description %}Как оформить заказ{% endblock %}

{% block content_website %}
<h1 class="main-h1">Как оформить заказ</h1>
<div class="text">

    <ul class="text-ul">
             <b>Для того чтобы оформить заказ нужно:</b>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Перейти в каталог;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Выбрать желаемую категорию;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Перейти на детальную страницу товара;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Выбрать желаемое количество товара;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Добавить товар в корзину;
        </li>
         <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Перейти на страницу корзины;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Проверить данные товаров в корзине;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            По необходимости написать комментарий к заказу;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Нажать кнопку заказа товара;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Проверить заказ на странице всех заказов;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Оплатить заказ;
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            Подтвердить получение заказа.
        </li>
    </ul>
    
</div>
{% endblock %}

{% block addJS %}{% endblock %}
