{% extends 'base/base_common.html' %}
{% load static %}

{% block title %}Rearm Device{% endblock %}

{% block content %}

    <div class="slider">
        {% for product in products_posters %}
            <a href="{{ product.get_absolute_url }}">
                <div class="slider__item">
                        <img src="{{ product.poster.url }}" alt="{{ product.name }}">
                </div>
            </a>
        {% endfor %}
    </div>


    <div class="main-content-text">
        <h2>Контент на главной странице</h2>
    </div>
{% endblock %}
