{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Способы оплаты{% endblock %}

{% block addCSS %}{% endblock %}

{% block keywords %}Способы оплаты{% endblock %}
{% block description %}Способы оплаты{% endblock %}

{% block content_website %}
<h1 class="main-h1">Способы оплаты</h1>
<div class="text">
    <ul class="text-ul">
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            <b>Наличный расчёт</b><br>
            Вы можете оплатить покупку наличными на складе или курьеру.
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            <b>Пластиковые карты </b><br>
            Безналичная оплата банковской картой в магазине и при доставке. Принимаются карты следующих платёжных систем:<br>
            «VISA», «MasterCard», «Золотая Корона», «МИР».
        </li>
        <li>
            <img src="{% static 'base/base_common/img/favicon.png' %}" alt="">
            <b>Онлайн-оплата на сайте </b><br>
            Оплата осуществляется через компанию-партнера - Яндекс.Деньги. Комиссия не взимается. К оплате принимаются кошельки WebMoney, банковские карты, QIWI-кошельки и Яндекс-кошельки. 
        </li>
    </ul>
</div>
{% endblock %}

{% block addJS %}{% endblock %}
