.basket-content{
    margin: 0 auto;
    width: 80%;
}

.userdata {
    color: var(--text);
    border-bottom: 2px solid var(--text);
}
.userdata-title {
    font-size: 20px;
}
.userdata-content {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 10px 0;
}
.userdata-line {
    margin: 0 10px;
}

.userdata-line input{
    background-color: transparent;
    border: 2px solid var(--text);
    color: var(--text);
    padding: 5px;
}

.userdata-line input::placeholder{
    color: var(--text);
}

.userdata-line-title {
    padding: 5px 0 5px 10px ;
}

.basket {}

.basket tr {
    padding: 10px 0;
}

.basket td {
    padding: 0 10px;
    text-align: center;
    color: var(--text);
}

.basket thead tr {
    font-weight: bold;
}

.basket thead td {
    padding: 10px 0;
}

.basket tr {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--text);
}


.basket-img {
    flex: 0 1 10%;
}

.basket-img img {
    width: 100%;
}

.basket-name {
    flex: 0 1 35%;
}

.basket-price-item {
    flex: 0 1 10%;
}

.basket-nbr {
    flex: 0 1 25%;
    display: flex;
    text-align: center;
}

.input-number-button {
    width: 20px;
    position: relative;
    background-color: transparent;
    border: 2px solid var(--text);
    font-size: 0;
}

.input-number-button button.up-value{
    transform: rotate(180deg);
}

.input-number-button::before,
.input-number-button::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var(--text);
    left: 2px;
}

.input-number-button::before{
    transform: rotate(-45deg);
    top: 8px;
        
}

.input-number-button::after{
    transform: rotate(45deg);
    top: 14px;
        
}

.basket-nbr .input-number {
    border: 2px solid var(--text);
    background-color: transparent;
    padding: 1px;
    text-align: center;
    color: var(--text);
    font-size: 18px;
    margin: 0 2px;
    width: 30%;
}

.basket-full-price {
    flex: 0 1 20%;
    white-space: nowrap;
    
}

.basket-full-price input{
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-align: right;
    font-family: serif;
}

.basket-full-price::after{
    content: ' ₽';
    
}

.summary::after,
.summ-order::after{
    content: ' ₽';
}

.basket-submit{
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.basket-submit input{
    padding: 5px;
    background-color: transparent;
    border: 2px solid var(--text);
    color: var(--text);
    font-size: 20px;
    transition: .3s;
}

.basket-submit input:hover{
    background-color: var(--red);
    transition: .3s;
}