{% extends 'base/base_common.html' %}
{% block title  %}Производители{% endblock %}
 
{% block content %}
    <h1 class="main-h1">Производители</h1>
    <div class="main-product">
        {# Вывожу все категории #}
        {% for manufacture in list_manufacturers %}
            <article class="product-block">
                <div class="product-title">
                    <a href="{{ manufacture.get_absolute_url }}">{{ manufacture.name }}</a>
                </div>
                    <div class="product-img">
                    <a href="{{ manufacture.get_absolute_url }}">
                        <img src="{{ manufacture.img.url }}" alt="{{ manufacture.name }}">
                    </a>
                </div>
            </article>
        {% empty %}
            {#Если цикл пустой#}
            <div class="product-none">Производителей нет</div>
        {% endfor %}
    </div>
{% endblock %}