{#  для работы надо во всюху импортировать модель    #}
{#      from catalog.models import Category          #}
{#      categorys = Category.objects.all()           #}
{#      context = {                                  #}
{#          'categorys': categorys,                  #}
{#      }                                            #}
<ul class="main-menu">
  <li><a href="{% url 'category_list_url' %}" class="main-manu-link">Каталог</a></li>
   {% for category in categorys %}
   <li><a href="{{ category.get_absolute_url }}" class="main-manu-link">{{ category.name }}</a></li>
   {% endfor %}
</ul>
