/*уменьшенный контент*/
.content.resize {
    padding: 9px 1% 9px 25.5%;
    overflow: hidden;
    transition: .3s;
    min-height: 502px;
}

.content.resize .main-detail {
    margin: -10px 0 0 1%;
    min-height: 60vh;
}

.content.resize .main-h1 {
        margin: -10px -2% 5px -2%
    }

.content.resize .product-title a {
    font-size: 13px;
}

.content.resize .product-info .product-price {
    font-size: 13px;
}

.content.resize .product-info .detail-add-basket {
    width: 30px;
    height: 30px;
}

/*активированное меню*/
.main-menu.check {
    left: 0;
}

@media (max-width:769px) {
    .content.resize .product-info .detail-add-basket {
        width: 25px;
        height: 25px;
    }

    .content.resize {
        padding: 10px 1% 0 25.5%;

    }
    
    .content.resize .userdata-line{
        flex: 0 1 100%;
        transition: .3s;
    }
    
}

@media (max-width:500px) {
    .content.resize {
        padding: 10px 1% 30px 1%;
    }

    .content.resize .main-detail {
        margin: -10px 0 0 0;
        min-height: 60vh;
    }

    .content.resize .main-h1 {
        margin: -10px -2% 5px -2%
    }

    .content.resize .product-info .detail-add-basket {
        width: 30px;
        height: 30px;
    }

    .main-menu.check {
        width: 100%;
        z-index: 8;
    }

    .main-menu.check li:first-child {
        border-top: 2px solid var(--text);
    }

    .content.resize .product-title a {
        font-size: 13px;
    }

    .content.resize .product-info .product-price {
        font-size: calc((100vw - 480px)/(1280 - 480) * (24 - 16) + 17px);
    }

}
