{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Личный кабинет {{user.username}} | Заказы{% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAccount.css' %}">
{% endblock %}

{% block keywords %}Личный кабинет, Заказы{% endblock %}
{% block description %}Личный кабинет - {{user.username}} | Заказы{% endblock %}

{% block content_website %}
<h1 class="main-h1">Личный кабинет</h1>
<div class="basket">
    {% include 'account/include_account-nav.html' %}
    <div class="submit-order">
        <a href="{% url 'pay:pay' %}">Купить</a>
    </div>
    <table class="profile-table">
        <thead>
            <tr class="title">
                <td colspan="4">Заказы</td>
            </tr>
            <tr class="title-content">
                <td class="order-id">Номер</td>
                <td class="">Сумма</td>
                <td class="">Статус</td>
                <td class="">Дата создания</td>
            </tr>
        </thead>

        <tbody>
            {% if order %}
            {% for orders_list in order %}
            <tr>
                <td class="order-id">{{orders_list.id}}</td>
                <td class="order-price">{{orders_list.total_price}}</td>
                <td class="">{{orders_list.status}}</td>
                <td class="">{{orders_list.created}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">Заказов нет</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

</div>


{% endblock %}

{% block addJS %}{% endblock %}
