{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Личный кабинет {{user.username}} | Заказы{% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAccount.css' %}">
{% endblock %}

{% block keywords %}Заказы{% endblock %}
{% block description %}Заказы{% endblock %}

{% block content_website %}
<h1 class="main-h1">Заказы</h1>
<div class="basket">
    {% include 'account/include_account-nav.html' %}
    <div class="scroll-table">
        {% for order in orders %}
        <table class="profile-table basket">
            <thead>
                <tr class="title">
                    <td colspan="5">Заказ № {{order.id}}</td>
                </tr>
                <tr class="title-content">
                    <td class="">Сумма</td>
                    <td class="">Дата создания</td>
                    <td colspan="2" class="">Статус</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="order-price">{{order.total_price}}</td>
                    <td class="">{{order.created}}</td>
                    <td class="status">{{order.status}}</td>
                    {% if order.status_id == 1 %}
                    <td class="pay interaction" data-order_id="{{order.id}}" data-href="{% url 'basket:interaction_order' %}">Оплатить</td>
                    {% endif %}
                    {% if order.status_id == 2 %}
                    <td class="completion interaction" data-order_id="{{order.id}}" data-href="{% url 'basket:interaction_order' %}">Завершить</td>
                    {% endif %}
                    {% if order.status_id == 3 %}
                    <td></td>
                    {% endif %}
                </tr>
                <tr><td class="product-order-title" colspan="5">Товары заказа</td></tr>
                <tr class="product-order-content">
                    <td>Название товара</td>
                    <td>Количество товара</td>
                    <td>Цена за штуку</td>
                    <td>Общая цена</td>
                </tr>
                {% for product in order.products_in_order.all %}
                <tr class="product-order-content">
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.quantity_nbr }}</td>
                    <td>{{ product.price_per_item }} ₽</td>
                    <td>{{ product.total_price }} ₽</td>
                </tr>
                {% endfor %}
                {% if order.comment %}
                <tr><td class="product-order-title" colspan="5">Комментарий к заказу</td></tr>
                <tr><td colspan="5">{{order.comment}}</td></tr>
                {% endif %}
                {% empty %}
                <tr><td colspan="5">Заказов нет</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}

{% block addJS %}{% endblock %}
