{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Личный кабинет {{user.username}} | Заказы{% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAccount.css' %}">
{% endblock %}

{% block keywords %}Заказы{% endblock %}
{% block description %}Заказы{% endblock %}

{% block content_website %}
<h1 class="main-h1">Заказы</h1>
<div class="basket">
    {% include 'account/include_account-nav.html' %}
    <div class="scroll-table">
    <table class="profile-table">
        <thead>
            <tr class="title">
                <td colspan="5">Заказы</td>
            </tr>
            <tr class="title-content">
                <td class="order-id">Номер</td>
                <td class="">Сумма</td>
                <td class="">Дата создания</td>
                <td colspan="2" class="">Статус</td>
            </tr>
        </thead>

        <tbody>
            {% for order in orders %}
            <tr>
                <td class="order-id">{{order.id}}</td>
                <td class="order-price">{{order.total_price}}</td>
                <td class="">{{order.created}}</td>
                <td class="status">{{order.status}}</td>
                {% if order.status_id == 1 %}
                <td class="pay interaction" data-order_id="{{order.id}}" data-href="{% url 'basket:interaction_order' %}">Оплатить</td>
                {% endif %}
                {% if order.status_id == 2 %}
                <td class="completion interaction" data-order_id="{{order.id}}" data-href="{% url 'basket:interaction_order' %}">Завершить</td>
                {% endif %}
                {% if order.status_id == 3 %}
                <td></td>
                {% endif %}
            </tr>
            {% if order.comment %}
            <tr>
                <td colspan="5">{{order.comment}}</td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="5"></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Заказов нет</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</div>


{% endblock %}

{% block addJS %}{% endblock %}
