{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}Восставновление пароля{% endblock %}

{% block addCSS %}<link rel="stylesheet" href="{% static 'base/base_common/css/styleAuthorization.css' %}">{% endblock %}

{% block keywords %}Восставновление пароля{% endblock %}
{% block description %}Восставновление пароля{% endblock %}

{% block content_website %}
<h1 class="main-h1">Восставновление пароля</h1>
    <form action="{% url 'authorization:change_password' %}" method="post" class="auth">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
        <a href="{% url 'authorization:login' %}">Вход</a>
        <a href="{% url 'authorization:registration' %}">Регистрация</a>
    </form>

{% endblock %}

{% block addJS %}{% endblock %}