{% extends 'base/base_common.html' %}
{% load static %}

{% block title  %}
Вход
{% endblock %}

{% block addCSS %}
<link rel="stylesheet" href="{% static 'base/base_common/css/styleAuthorization.css' %}">
{% endblock %}

{% block keywords %}Авторизация{% endblock %}
{% block description %}Вход в аккаунт RD{% endblock %}

{% block content_website %}

<h1 class="main-h1">Вход</h1>
<form action="" method="post" class="auth">
    {% csrf_token %}
    <div class="auth-item">
        <label class="auth-label" for="id_username">
            <span class="auth-span">Имя пользователя</span>
            <span class="auth-input"><input type="text" name="username" maxlength="150" autocapitalize="none" required value="{{request.POST.username}}" id="id_username"></span>
        </label>
        {% if form.errors %}
        <ul class="auth-help id_username active ff">
            <li class="invalid">{{form.errors}}</li>
        </ul>
        {% endif %}
    </div>

    <div class="auth-item">
        <label class="auth-label" for="id_password1">
            <span class="auth-span">Пароль</span>
            <span class="auth-input"><input type="password" name="password" autocomplete="new-password" required id="id_password1"> </span>
        </label>
    </div>

    <div class="auth-item">
        <label class="auth-label">
            <span class="auth-input submit"><input type="submit" value="Вход"></span>
        </label>
    </div>

    <div class="auth-item">
        <label class="auth-label">
            <span class="auth-input link"><a href="{% url 'authorization:registration' %}">Регистрация</a></span>
        </label>
    </div>
</form>
<!--<a href="{% url 'authorization:change_password' %}">Забыли пароль</a>-->
{% endblock %}

{% block addJS %}<script src="{% static 'base/base_common/js/auth/register.js' %}"></script>{% endblock %}
