{% extends 'base/base_common.html' %}
{% block title %}Каталог{% endblock %}


{% block keywords %}
Категории, {% for category in categories %}{{ category.name }}, {% endfor %}Rearm Device
{% endblock %}

{% block description %}Каталоги товаров на сайте Rearm Device{% endblock %}

{% block content_website %}
<h1 class="main-h1">Каталог</h1>

<div class="main-product">
    {# Вывожу все категории #}
    {% for category in categories %}
    <article class="product-block">
        <div class="product-title">
            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        </div>
        <div class="product-img">
            <a href="{{ category.get_absolute_url }}">
                <img src="{{ category.img.url }}" alt="{{ category.name }}">
            </a>
        </div>
    </article>
    {% empty %}
    <div class="product-block none">
        Товаров нет
    </div>
    {% endfor %}
</div>
{% endblock %}
